#title {
    color: blue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: yellow;
    margin: 20px 400px;
}

.image {
    text-align: center;
}

.Description {
    text-align: center;
}

.Ingredients {
    background-color: aqua;
    margin-top: 80px;
    margin-right: 800px;
    margin-bottom: 80px;
}

.Steps {
    background-color: burlywood;
    font-family: 'Courier New', Courier, monospace;
}